/* body#fondo{
   background-color: black;
}
div.card-header{
   background-color: brown;
   color: antiquewhite;

} */
body#bgc{
   background-color: black;
}
header.bg{
   height: 600px;
   background-image:url(../images/fondoHome.jpg);
   width: 100%;
   background-repeat: no-repeat;
}
/* div.container{
   height: 700px;
} */